@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: auto;
  font-style: normal;
}

body {
  @apply bg-[#15131C] overflow-x-hidden;
  font-family: 'Poppins', sans-serif;
}

/* Smooth Transition */
.transition-smooth {
  @apply transition-all duration-300 ease-in-out;
}

/* ---------------- Hero ---------------- */
#hero-logo {
  box-shadow: 0px 100px 250px 0px rgba(98, 96, 222, 0.24);
}
h1 {
  background: linear-gradient(0deg, #433CB8 -20.26%, #D3D2FF 100.16%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ---------------- Hero ---------------- */