@import "tailwindcss";

/* ---------------- Base Styles ---------------- */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: auto;
  font-style: normal;
}
body {
  @apply bg-[#15131C] md:overflow-x-hidden overflow-x-hidden;
  font-family: "Poppins", sans-serif;
}
p {
  @apply text-indigo-100/90 text-sm;
}
h2 {
  @apply md:text-4xl text-3xl text-indigo-50;
}
h3 {
  @apply md:text-3xl text-2xl text-indigo-50;
}
h4 {
  @apply md:text-2xl text-xl text-indigo-50;
}
h5 {
  @apply md:text-lg text-base text-indigo-50;
}
.transition-smooth {
  @apply transition-all duration-300 ease-in-out;
}
/* ---------------- // Base Styles ---------------- */

/* ---------------- Hero ---------------- */
#hero-logo {
  box-shadow: 0px 100px 250px 0px rgba(98, 96, 222, 0.24);
}
h1 {
  background: linear-gradient(0deg, #433cb8 -20.26%, #d3d2ff 100.16%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ---------------- // Hero ---------------- */

/* ---------------- About ---------------- */
.hero-left-glow {
  background: #4f46e5;
  background: linear-gradient(
    90deg,
    rgba(79, 70, 229, 1) 0%,
    rgba(164, 136, 235, 1) 11%,
    rgba(108, 95, 158, 1) 25%,
    rgba(62, 56, 90, 1) 39%,
    rgba(29, 27, 40, 1) 55%
  );
}
.hero-right-glow {
  background: #4f46e5;
  background: linear-gradient(
    -90deg,
    rgba(79, 70, 229, 1) 0%,
    rgba(164, 136, 235, 1) 11%,
    rgba(108, 95, 158, 1) 25%,
    rgba(62, 56, 90, 1) 39%,
    rgba(29, 27, 40, 1) 55%
  );
}
/* ---------------- // About ---------------- */

/* ---------------- Experience ---------------- */
.certis-container-glow {
  background: #4f46e5;
  background: linear-gradient(
    -90deg,
    rgba(79, 70, 229, 1) 0%,
    rgba(164, 136, 235, 1) 11%,
    rgba(108, 95, 158, 1) 25%,
    rgba(62, 56, 90, 1) 39%,
    rgba(29, 27, 40, 1) 55%
  );
}
/* ---------------- // Experience ---------------- */

/* ---------------- Contact / Footer ---------------- */
.footer-container-glow {
  background: #4f46e5;
  background: linear-gradient(
    90deg,
    rgba(79, 70, 229, 1) 0%,
    rgba(164, 136, 235, 1) 11%,
    rgba(108, 95, 158, 1) 25%,
    rgba(62, 56, 90, 1) 39%,
    rgba(29, 27, 40, 1) 55%
  );
}
/* ---------------- // Contact / Footer ---------------- */

/* ---------------- Testing ---------------- */
@keyframes spin-slow-gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-gradient {
  animation: spin-slow-gradient 8s linear infinite;
}
/* ---------------- // Testing ---------------- */
